<html>

<body>
    <div>
        <form method="post">
            <input type="text" name="company_name" placeholder="Введите имя конторы" />
            <input type="text" name="founder_name" placeholder="Введите имя чела" />
            <button type="submit">Добавить</button>
        </form>
    </div>


</body>
</html>
