<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Adding company</title>
</head>
<body>
<div th:replace="navbar"></div>
<div class="container-fluid">

    <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
            <form  th:action="@{/logout}" method="post">
             <input class="btn btn-primary me-2"  type="submit" value="Sign Out"/>
            </form>
        </div>

    </div>

<div>

</div>

<style>
    table {
        /*border-collapse: separate;*/
        border-spacing: 15px 0;
    }

    td {
        padding: 5px 0;
    }
</style>
<h2>Adding company</h2>
<!--<form th:action="@{/}" th:object="${stageOfTheCompanies}" method="POST">-->
<form th:action="@{/}"  method="POST" enctype="multipart/form-data">
    <br>

    <form class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label >Company name</label>
                <input type="text" name="company_name" class="form-control" placeholder="Company name" required>
            </div>

            <div class="col-md-2 mb-3" style="">
                <label name="category">Category</label>
                <select multiple="multiple"  class="form-control">
                    <option th:each="category : ${CategoriesList}"
                            th:text="${category.name}">
                    </option>
                </select>
            </div>

            <div class="col-md-2 mb-3" style="">
                <label name="category">Sub category</label>
                <select multiple="multiple" name="subCategories_s" class="form-control">
                    <option th:each="sub : ${subCategoriesList}"
                        th:value="${sub.name}"
                        th:text="${sub.name +'  ('+sub.getCategory()+')'}">
                    </option>
                </select>
            </div>

            <div class="col-md-2 mb-3">
                <label >Stage Of The Company</label>
                <select name="_stageOfCompany" type="text" class="form-control">
                    <option th:each="stage :${stageOfTheCompanies}"
                            th:text="${stage}">
                </select>
            </div>

            <div class="col-md-2 mb-3">
                <label >Market Validation</label>
                <select name="_marketValidation" type="text" class="form-control" >
                    <option th:each="market :${marketValidations}"
                            th:text="${market}">
                </select>
            </div>

            <div class="col-md-2 mb-3">
                <label >Size Of The Sales</label>
                <select type="text" class="form-control" name="_sizeOfTheSales" >
                    <option th:each="size :${sizeOfTheSales1}"
                            th:value="${size}"
                            th:text="${size.getSale()}">
                </select>
            </div>

            <div class="col-md-2 mb-3">
                <label >Investment Process</label>
                <select type="text" class="form-control"  name="_investmentProcess">
                    <option th:each="investment :${investmentProcesses}"
                            th:text="${investment}">
                </select>
            </div>

            <div class="col-md-2 mb-3">
                <label >Priority Company</label>
                <select name="_priorityCompany" type="text" class="form-control" >
                    <option th:each="priority :${priorityCompanies}"
                            th:text="${priority}">
                </select>
            </div>

            <div class="col-md-2 mb-3">
                <label>Status Company</label>
                <select name="_statusCompany" type="text" class="form-control">
                    <option th:each="status :${statusCompanies}"
                            th:text="${status}">
                </select>
            </div>

            <div class="col-md-2 mb-3">
                <label >Transfer Company</label>
                <select name="_transferCompany" type="text" class="form-control">
                    <option th:each="transfer :${transferCompanies}"
                            th:text="${transfer}">
                </select>
            </div>

            <div class="col-md-2 mb-3">
                <label>Website</label>
<!--                <input type="text" class="form-control"  placeholder="Founder name" required>-->
                <input type="text" class="form-control" name="website" placeholder="Website" />
            </div>

            <div class="col-md-2 mb-3">
                <label>Video</label>
<!--                <input type="text" class="form-control"  placeholder="Founder name" required>-->
                <input type="text" class="form-control" name="video" placeholder="Video"/>
            </div>
        </div>
        <br> <br>

    <form class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label >Founder name</label>
                <input type="text" class="form-control" name="founder_name" placeholder="Founder name" >
            </div>

            <div class="col-md-2 mb-3">
                <label >Founder family name</label>
                <input type="text" class="form-control" name="founder_family_name" placeholder="Founder family name"  >
            </div>

            <div class="col-md-2 mb-3">
                <label >Email</label>
                <input type="text" class="form-control" name="founder_email" placeholder="Email"  >
            </div>

            <div class="col-md-2 mb-3">
                <label >Mobile</label>
                <input type="text" class="form-control" name="founder_mobile" placeholder="Mobile"  >
            </div>

            <div class="col-md-2 mb-3">
                <label >Linkedin</label>
                <input type="text" class="form-control" name="founder_linkedin" placeholder="Linkedin"  >
            </div>

            <div class="col-md-2 mb-3">
                <label >Country</label>
                <input type="text" class="form-control" name="founder_country" placeholder="Country"  >
            </div>

        </div>

            <div class="input-group mb-3 col-md-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" >Choose logo</label>
                </div>
            </div>

        <div class="input-group mb-2 col-md-4">
            <div class="input-group-prepend">
                <span class="input-group-text" >Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="infoFile" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label">Choose PDF file</label>
            </div>
        </div>
<!--    </div>-->

    <br>

  <input class="btn btn-primary"  type="submit" value="Save" />

  </form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>
  </body>
  </html>

