<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:vertical-align="http://www.w3.org/1999/xhtml">
<head>
    <title>Test tak skazat</title>
</head>
<style>
    .category {
      height: 100px;
    }
</style>
<body>
<a href="http://localhost:8080/addCategory">Adding category</a>
<br> <br>
<a href="http://localhost:8080/sub">Adding sub category</a>
<br> <br>
<a href="http://localhost:8080/view">_View_</a>
<br> <br>

<h2>Adding company</h2>
<!--<form th:action="@{/}" th:object="${stageOfTheCompanies}" method="POST">-->
<form th:action="@{/}"  method="POST" vertical-align: middle>
<!--    акшен может ошибку выкинуть-->
<input type="text" name="company_name" placeholder="Name of company"/>
<input type="text" name="founder_name" placeholder="Name of founder"/>

    <select name="_stageOfCompany">
        <option th:each="stage :${stageOfTheCompanies}"
                th:text="${stage}">
    </select>

    <select multiple="multiple" class="category" >
        <option th:each="category : ${CategoriesList}"
                th:text="${category.name}">

        </option>
    </select>


    <select multiple="multiple" name="subCategories_s" class="category">
        <option th:each="sub : ${subCategoriesList}"
                th:value="${sub.name}"
                th:text="${sub.name +'  ('+sub.getCategory()+')'}">
        </option>
    </select>

<!--            <tr th:each="category : ${CategoriesList}">-->
<!--                <select multiple="multiple" name="subCategories_s" class="category">-->
<!--                    <option th:each=" sub: ${category.getSubCategories()}"-->
<!--                            th:text="${sub.name +'  ('+sub.getCategory()+')'}">-->
<!--                    </option>-->
<!--                </select>-->
<!--            </tr>-->


<!--    <select multiple="multiple" name="subCategories_s" class="category">-->
<!--        <option th:each="sub : ${subCategoriesList}"-->
<!--                th:text="${sub.name +'  ('+sub.getCategory()+')'}">-->
<!--        </option>-->
<!--    </select>-->


    <!--    <select>-->
    <!--        <option th:each="category :${CategoriesList}"-->
    <!--                th:text="${category.name}">-->
    <!--    </select>-->

<input type="submit" value="Save" />
</form>
</body>
</html>