<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"></div>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Gold</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div sec:authorize="hasRole('ADMIN')">
                <li class="nav-item active">
                    <a class="nav-link" href="Main">Adding company <span class="sr-only">(current)</span></a>
                </li>
            </div>

            <div sec:authorize="hasRole('ADMIN')">
                <li  class="nav-item">
                    <a class="nav-link" href="addCategory">Adding category</a>

                </li>
            </div>

            <div sec:authorize="hasRole('ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="sub">Adding sub category</a>
                </li>
            </div>

            <li class="nav-item">
                <a class="nav-link" href="view">View</a>
            </li>
            <div sec:authorize="hasRole('KOBI')">
                <li class="nav-item">
                    <a class="nav-link" href="registration">Registration</a>
                </li>
            </div>


        </ul>

            </div>
        <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
                <div sec:authentication="principal.username"></div>
            </div>

        </div>
        </form>
    </div>
</nav>