<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration </title>
</head>
<body>

<form th:action="@{/registration}"  method="POST">

    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
<!--    <input type="text" name="username" placeholder="username"/>-->
<!--    <input type="text" name="password" placeholder="password"/>-->
    <!--    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />-->
    <div><input type="submit" value="Save"/></div>
</form>
</body>
</html>