<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml"
      xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <title>Adding sub category</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:replace="navbar"></div>
<div class="container-fluid">
    <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
            <form  th:action="@{/logout}" method="post">
                <input class="btn btn-primary me-2"  type="submit" value="Sign Out"/>
            </form>
        </div>

    </div>


<h2>Adding sub category</h2>
<th> </th>
<style>
    ul.el > li {
        display: inline;	/* Располагаем элементы по горизонтали */
        list-style: none;	/* Убираем маркеры списка */
    }
    .n1{
        display: inline;
    }
</style>

<br> <br>

<form th:action="@{/sub}"  method="POST">
<!--    <form th:action="@{/addSub}" th:object="${categories}" method="POST">-->


    <ul class="navbar-nav mr-auto">



        <li  class="col-sm-3">
            <select class="form-control" name="category_name">
                <option th:each="category :${categories}"
                        th:text="${category.name}">
            </select>
        </li>
        <br>

        <li  class="col-sm-3" >
            <input class="form-control" type="text" name="sub_category_name" placeholder="Sub category'name"/>
        </li>
    </ul>
    <br>




    <!--    <div class="form-group row">-->
<!--        <label class="col-sm-2 col-form-label"> User Name : </label>-->
<!--        <div class="col-sm-3">-->
<!--            <input class="form-control" type="text" name="username"/>-->
<!--        </div>-->
<!--    </div>-->


    <input class="btn btn-primary" type="submit" value="Save" />

    <table style="margin-left: 17px">

        <th> Sub categories: </th>
        <th> </th>

        <tbody>
        <tr th:each="subCategory : ${subCategories}">
            <td><span th:text="${subCategory.sub_category_id}"></span></td>
            <td><span th:text="${subCategory.name + '   ( ' +subCategory.category+ ' )'}"> </span></td>
        </tr>
        </tbody>
    </table>
    <br> <br>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>
</body>
</html>