<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View companies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:replace="navbar"></div>
<div class="container-fluid">
    <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
            <form  th:action="@{/logout}" method="post">
                <input class="btn btn-primary me-2"  type="submit" value="Sign Out"/>
            </form>
        </div>

    </div>


    <h2>View companies</h2>

<style>
    /*ul.el > li {*/
    /*    display: inline;	!* Располагаем элементы по горизонтали *!*/
    /*    list-style: none;	!* Убираем маркеры списка *!*/
    /*}*/
    table {
        /*border-collapse: separate;*/
        border-spacing: 30px 0;
        height: 50px;
    }

    td {
        padding: 10px 0;
    }

    TD DIV {
        overflow: scroll; /* Добавляем полосы прокрутки */
        width: 200px; /* Ширина элемента */
    }

</style>

<br>

<form th:action="@{/view}"  method="POST">



    <div class="form-row" >
                <div class="col-md-1,8 mb-4">
                    <label >Company name</label>
                    <input type="text" name="cName" class="form-control" placeholder="">
                </div>


                <div class="col-md-1,8 mb-4">
                    <label >Founder</label>
                    <select multiple="multiple" name="_founders" class="form-control">
                        <option th:each="founder : ${foundersList}"
                                th:value="${founder.name+' ' +founder.getFamilyName()}"
                                th:text="${founder.name+ ' ' + founder.getFamilyName()}">

                        </option>
                    </select>
                </div>

                <div class="col-md-1,8 mb-3">
                    <label >Category</label>
                    <select multiple="multiple" name ="_categories" class="form-control">
                        <option th:each="category : ${CategoriesList}"
                                th:text="${category.name}">

                        </option>
                    </select>
                </div>

                <div class="col-md-1,8 mb-3">
                    <label >Sub category</label>
                    <select multiple="multiple" name ="subCategories_s" class="form-control">
                        <option th:each="sub : ${SubCategoriesList}"
                                th:value="${sub.name}"
                                th:text="${sub.name +'  ('+sub.getCategory()+')'}">
                        </option>
                    </select>
                </div>

                <div class="col-md-1,7 mb-3">
                    <label >Stage Of The Companies</label>
                    <select name="_stage" class="form-control">
                        <option th:each="stage :${stageOfTheCompanies}"
                                th:text="${stage}">
                    </select>
                </div>

                <div class="col-md-1,7 mb-3">
                    <label >Market Validations</label>
                    <select name="_market" class="form-control">
                        <option th:each="market :${marketValidations}"
                                th:text="${market}">
                    </select>
                </div>

                <div class="col-md-1,7 mb-3">
                    <label >Investment Processes</label>
                    <select name="_investment" class="form-control">
                        <option th:each="investment :${investmentProcesses}"
                                th:text="${investment}">
                    </select>
                </div>

                <div class="col-md-1,7 mb-3">
                    <label >Priority Companies</label>
                    <select name="_priory" class="form-control">
                        <option th:each="priority :${priorityCompanies}"
                                th:text="${priority}">
                    </select>
                </div>

                <div class="col-md-1,7 mb-3">
                    <label >Status Companies</label>
                    <select name="_status" class="form-control">
                        <option th:each="status :${statusCompanies}"
                                th:text="${status}">
                    </select>
                </div>

                <div class="col-md-1.5 mb-3">
                    <label >Transfer Companies</label>
                    <select name="_transfer" class="form-control">
                        <option th:each="transfer :${transferCompanies}"
                                th:text="${transfer}">
                    </select>
                </div>
            </div>

    <br>
     <input type="text" class="form-control mb-2 col-md-3 "  name="fileName" placeholder="XLS filename"/>

<!--    <a th:href="@{/file/{fhu}(fhu=${name})}"  th:attr="download=${'Nya.xls'}">Download XLS file</a>-->
    <div class="col-sm-3">
    <input class="btn btn-primary" type="submit" name = "action" value="Filter" />
    <input class="btn btn-primary" type="submit" name = "action" value="Filter and save in XLS file" />
    </div>

<!--    <div class="form-group">-->
<!--            <label >XLS files: </label>-->
<!--            <select >-->
<!--                <option th:each="f :${listXLS}">-->
<!--                <a th:href="@{/file/{fhu}(fhu=${f})}"  th:attr="download=${'Nya.xls'}"> <span th:text="${f}"> </span></a></option>-->
<!--            </select>-->
<!--        </div>-->
</form>


<!--    <table style="height:20px">-->
        <th> XLS files: </th>
<!--&lt;!&ndash;        <th> </th>&ndash;&gt;-->

    <div class="col-sm">
        <tbody style="height:20px">
        <tr style="height:20px" th:each="f : ${listXLS}">
<!--            <td><span th:text="${category.category_id}"></span></td>-->
            <td style="height:20px"><a th:href="@{/file/{fhu}(fhu=${f})}"  th:attr="download=${'Nya.xls'}"><span th:text="${f}"> </span></a></td>
            <td><a>_ | _</a></td>
        </tr>
        </tbody>
    </div>
    </table>






    <br>
    <br>



    <table class="table-striped ">
        <thead class="thead">

            <th>Company name</th>
            <th>Categories</th>
            <th>Sub Categories</th>

<!--            <th>Website</th>-->
<!--            <th>Video</th>-->
            <th>Stage Of The Company</th>
            <th>Market Validation</th>
            <th>Size Of The Sales</th>
            <th>Investment Process</th>
            <th>Priority Company</th>
            <th>Status Company</th>
            <th>Transfer Company</th>


            <th>Founder</th>
<!--            <th>Founder family name</th>-->
<!--            <th>Email</th>-->
<!--            <th>Mobile</th>-->
<!--            <th>Linkedin</th>-->
<!--            <th>Country</th>-->
        </thead>

        <tr th:each="company : ${companies}">

            <td> <a th:href="@{/company(id=${company.getId()})}"><span th:text="${company.getCompany_name()}"></span></a></td>

            <td><span th:text="${company.getCategories()}"> </span></td>
            <td><span th:text="${company.getSubCategories()}"> </span></td>
<!--            <td><span th:text="${company.getWebsite()}"> </span></td>-->
<!--            <td><span th:text="${company.getVideo()}"> </span></td>-->
            <td><span th:text="${company.getStageOfTheCompany()}"> </span></td>
            <td><span th:text="${company.getMarketValidation()}"> </span></td>
            <td><span th:text="${company.getSizeOfTheSales().getSale()}"> </span></td>
            <td><span th:text="${company.getInvestmentProcess()}"> </span></td>
            <td><span th:text="${company.getPriorityCompany()}"> </span></td>
            <td><span th:text="${company.getStatusCompany()}"> </span></td>
            <td><span th:text="${company.getTransferCompany()}"> </span></td>

            <td><span th:text="${company.getFounder().name + ' '+ company.getFounder().getFamilyName()}"> </span></td>
<!--            <td><span th:text="${company.getFounder().familyName}"> </span></td>-->
<!--            <td><span th:text="${company.getFounder().email}"> </span></td>-->
<!--            <td><span th:text="${company.getFounder().mobile}"> </span></td>-->
<!--            <td><span th:text="${company.getFounder().linkedin}"> </span></td>-->
<!--            <td><span th:text="${company.getFounder().country}"> </span></td>-->

<!--            <td> <img th:src="@{/img/{filename}(filename = ${company.filename})}"></td>-->
<!--            <td> <hr th:src="@{/file/{infoFilename}(infoFilename = ${company.infoFilename})}"> </td>-->
<!--            <td> <th:href ="@{/img/{filename}(filename = ${company.filename})}"></td>&ndash;&gt;-->
<!--            <td> <a th:href="@{/file/download/{infoFilename}(infoFilename=${company.infoFilename})}">down<span th:text="${company.infoFilename}"></span></a></td>-->

<!--            <td><a download="results.csv" th:href=""</a></td>-->
<!--            <a th:href="@{|/products/download?id=${product.id}|}"><span th:text="${product.name}"></span></a>-->

            <!--            <td><a th:href="/file/C:/Java/Kobi-s-project/uploads/e9d56f11-dd77-40be-b385-d19ba59c8dbf.5_maXQOI0cw.jpg" download>Скачать файл</a><td>-->

        <tr/>


            </tbody-dark>
        </table>
        <br> <br>


</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>
</body>
</html>