<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
</head>
<body>

<h2>View company</h2>

<style>
    /*ul.el > li {*/
    /*    display: inline;	!* Располагаем элементы по горизонтали *!*/
    /*    list-style: none;	!* Убираем маркеры списка *!*/
    /*}*/
    table {
        /*border-collapse: separate;*/
        border-spacing: 30px 0;
    }

    td {
        padding: 10px 0;
    }
</style>

<a style="margin-: 32px" href="http://localhost:8080">Main</a>
<br> <br>




<form th:action="@{/view}"  method="POST">

    <table>
        <tbody>
        <tr>
            <th>Founder name</th>
            <th>Categories</th>
<!--            <th>Sub Categories</th>-->

            <th>Stage Of The Company</th>
            <th>Market Validation</th>
            <th>Investment Process</th>
            <th>Priority Company</th>
            <th>Status Company</th>
            <th>Transfer Company</th>

        </tr>

        <tr>
<!--            <td><input type="text" name="founder" placeholder="Name of founder"/>           </td>-->

            <td>
                <select multiple="multiple" name="_founders" >
                    <option th:each="founder : ${foundersList}"
                            th:value="${founder.name+' ' +founder.getFamilyName()}"
                            th:text="${founder.name+ ' ' + founder.getFamilyName()}">

                    </option>
                </select>
            </td>

            <td>
                <select multiple="multiple" class="category" name ="_categories">
                    <option th:each="category : ${CategoriesList}"
                            th:text="${category.name}">

                    </option>
                </select>
            </td>
<!--            <td> <select multiple="multiple" name="subCategories_s" class="category">-->
<!--                <option th:each="sub : ${subCategoriesList}"-->
<!--                        th:value="${sub.name}"-->
<!--                        th:text="${sub.name +'  ('+sub.getCategory()+')'}">-->
<!--            </select>-->
<!--            </td>-->
            <td>

                <select name="_stage">
                    <option th:each="stage :${stageOfTheCompanies}"
                            th:text="${stage}">
                </select></td>
            <td>
                <select name="_market">
                    <option th:each="market :${marketValidations}"
                            th:text="${market}">
                </select>
            </td>

            <td>
                <select name="_investment">

                    <option th:each="investment :${investmentProcesses}"
                            th:text="${investment}">
                </select>
            </td>

            <td>
                <select name="_priory">
                    <option th:each="priority :${priorityCompanies}"
                            th:text="${priority}">
                </select>
            </td>

            <td>
                <select name="_status">
                    <option th:each="status :${statusCompanies}"
                            th:text="${status}">
                </select>
            </td>

            <td>
                <select name="_transfer">
                    <option th:each="transfer :${transferCompanies}"
                            th:text="${transfer}">
                </select>
            </td>

        <tr/>

        </tbody>
    </table>
    <br> <br>

    <td> <input type="text" name="fileName" placeholder="Name of file"/></td>
    <br> <br>
    <input type="submit" value="Filter" />
    <br> <br>

    <table>
        <tbody>
        <tr>
            <th>Company name</th>
            <th>Categories</th>
            <th>Sub Categories</th>

            <th>Website</th>
            <th>Video</th>
            <th>Stage Of The Company</th>
            <th>Market Validation</th>
            <th>Size Of The Sales</th>
            <th>Investment Process</th>
            <th>Priority Company</th>
            <th>Status Company</th>
            <th>Transfer Company</th>


            <th>Founder name</th>
            <th>Founder family name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Linkedin</th>
            <th>Country</th>
        </tr>

        <tr th:each="company : ${companies}">
            <td><span th:text="${company.getCompany_name()}"> </span></td>
            <td><span th:text="${company.getCategories()}"> </span></td>
            <td><span th:text="${company.getSubCategories()}"> </span></td>


            <td><span th:text="${company.getWebsite()}"> </span></td>
            <td><span th:text="${company.getVideo()}"> </span></td>
            <td><span th:text="${company.getStageOfTheCompany()}"> </span></td>
            <td><span th:text="${company.getMarketValidation()}"> </span></td>
            <td><span th:text="${company.getSizeOfTheSales().getSale()}"> </span></td>
            <td><span th:text="${company.getInvestmentProcess()}"> </span></td>
            <td><span th:text="${company.getPriorityCompany()}"> </span></td>
            <td><span th:text="${company.getStatusCompany()}"> </span></td>
            <td><span th:text="${company.getTransferCompany()}"> </span></td>

            <td><span th:text="${company.getFounder().name}"> </span></td>
            <td><span th:text="${company.getFounder().familyName}"> </span></td>
            <td><span th:text="${company.getFounder().email}"> </span></td>
            <td><span th:text="${company.getFounder().mobile}"> </span></td>
            <td><span th:text="${company.getFounder().linkedin}"> </span></td>
            <td><span th:text="${company.getFounder().country}"> </span></td>

<!--            <td> <img th:src="@{/img/{filename}(filename = ${company.filename})}"></td>-->
<!--            <td> <hr th:src="@{/file/{infoFilename}(infoFilename = ${company.infoFilename})}"> </td>-->
<!--            <td> <th:href ="@{/img/{filename}(filename = ${company.filename})}"></td>&ndash;&gt;-->
            <td><a th:href="/file/e9d56f11-dd77-40be-b385-d19ba59c8dbf.5_maXQOI0cw.jpg" download>Скачать файл</a><td>

        <tr/>


            </tbody>
        </table>
        <br> <br>


</form>
</body>
</html>