<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test tak skazat</title>
</head>
<body>

<h2>View company</h2>

<!--<style>-->
<!--    ul.el > li {-->
<!--        display: inline;	/* Располагаем элементы по горизонтали */-->
<!--        list-style: none;	/* Убираем маркеры списка */-->
<!--    }-->
<!--</style>-->

<a style="margin-: 32px" href="http://localhost:8080">Main</a>
<br> <br>

<form th:action="@{/view}"  method="POST">

    <table>
        <th> Companies: </th>
        <tbody>
        <tr th:each="company : ${companies}">
            <td><span th:text="${company.getCompany_name()}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getFounder().name}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getFounder().family_name}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getFounder().email}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getFounder().mobile}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getFounder().linkedin}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getFounder().country}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getWebsite()}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
<!--            <td><span th:text="${company.getLogo()}"> </span></td>-->
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getVideo()}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getStageOfTheCompany()}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getSizeOfTheSales()}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getMarketValidation()}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getInvestmentProcess()}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getPriorityCompany()}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getStatusCompany()}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getTransferCompany()}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getSubCategories()}"> </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span > </span></td>
            <td><span th:text="${company.getCategories()}"> </span></td>


        </tr>
        </tbody>
    </table>
    <br> <br>
<!--    <input type="submit" value="Save" />-->
</form>
</body>
</html>